*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #596275;

}

input {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: none;
}

.btn {
    padding: 10px;
    margin: 5px;
    color: #ffffff;
    background-color: #eb3b5a;
    border: 1px solid #dfe4ea;
    border-radius: 5px;
}