 *{
        margin: 0;
        padding: 0;
        font-family: 'poppins';
    }
    body{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h3{
        margin-bottom: 30px;
        font-weight: 600;
        font-size: 30px;
    }
    button{
        padding: 13px;
        width: 150px;
        border: none;
        background-color: #303952;
        color: #fff;
        font-size: 17px;
        font-weight: 600;
        border-radius: 5px;
    }
    .cart{
        padding: 10px;
        background-color: dodgerblue;
        border-radius: 5px;
        margin: 10px;
    }
    .cart p{
        padding: 10px;
        font-size: 17px;
        font-weight: 600;
    }